# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Binaries
*.dll
*.exe
*.bak
*.backup
*~
.*.swp

# Go (if used)
bin/
pkg/
vendor/
go.work*

# IDEs
.zed/
*.iml

# Terraform (VERY IMPORTANT)
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# Coverage
coverage.txt

# Misc
.vagrant/
modules-dev/